body{
    display: flex;
    flex-direction: column;
    background: #F2EFEA;
    margin: 0;

    font-family: 'Excon', sans-serif;
    font-size: 20px;
}

 /* 
    #C3423F
    #5E6472
    #210124
    */



.dash{
    background-color: black;
    height: 4px;
    border: none;
    width: 100%;
}

/* nav */
.nav{

    display: flex;
   
    /* gradient */    
    background: hsla(38, 24%, 93%, 1);
    background: linear-gradient(90deg, hsla(38, 24%, 93%, 1) 0%, hsla(38, 24%, 93%, 1) 3%, hsla(295, 95%, 7%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(38, 24%, 93%, 1) 0%, hsla(38, 24%, 93%, 1) 3%, hsla(295, 95%, 7%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(38, 24%, 93%, 1) 0%, hsla(38, 24%, 93%, 1) 3%, hsla(295, 95%, 7%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F2EFEA", endColorstr="#F2EFEA", GradientType=1 );

    width: 100%;
    padding: 2% 0; 
    margin-bottom: 3%;
    height: 45%;
}

.nav__display{
    display: grid;
    grid-template-rows: auto 1fr;
    width: 90%;
    margin: 0 auto;
}

.nav__logo{
    font-family: 'Tanker', sans-serif;
    align-content: center;
    font-size: 119px;
}

.nav__display a, .nav__logo{
    text-decoration: none;
    color: black;
}

.nav__list{
    display: flex;
    position: relative;
    list-style: none;
    align-content: flex-end;
    justify-content: flex-end;
}

.nav__el{
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding:  5px 10px 5px 10px;
    height: 60%;
    width: 8%;
    border-radius: 12px;
    margin:0 1%;

    font-size: 16px;
    color: #F2EFEA;
    background: black;

    transition: background-color 0.25s ease-in-out;
}

.nav__el:hover{
    background-color: #C3423F;
    cursor: pointer;
}

/* Main */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:  0 15% 0 15%;
}

.image{
    max-width: 100%;
}

.caption{
    font-size: 16px;
    font-style: normal;
    text-align: right;
}

/* Header */
h1{
    font-size: 76px;
    font-style: normal;
    text-align: left;
    max-width: 65ch;
}

.header__case{
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding:  5px 10px 5px 10px;
    height: 70%;
    width: 10%;
    margin:0 1%;

    background: #F2EFEA;
    border-color: black;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;

    font-size: 16px;
}

.header__figure{
    margin-bottom: 0;
}

.nav__list a{
    color: #F2EFEA;
    text-decoration: none;
}

/* Content */
h2{
    font-size: 49px;
    font-style: normal;
    text-align: right;

    font-family: 'Tanker', sans-serif;

    background-color: #C3423F;
    padding: 1%;
}

h3{
    font-size: 31px;
    font-style: normal;
    text-align: left;
    max-width: 55ch;

    margin-bottom: 0;
}
.content__title{
    align-items: center;
}

.content__txt{
    font-size: 20px;
    font-style: normal;
    text-align: left;
    max-width: 115ch;
    line-height: 165%;
}
.content__txt a{
    color: black;
}
.content__txt, .content__title {
    /* Pour que le texte recommence en dessous de mon image  */
    clear: both; 
} 

.content__txt--next{
    clear: none;
    /* max-width: 83ch; */
}

.content__image--in{
    display: block;
    margin-bottom: 4px;
}

.content__figure{
    display: block;
    padding-bottom: 5px;
    margin-bottom: 20px;
}
.content__figure--left{
    float: left;
    width: 40%;
    margin: 1% 1% 1% 0;
}

.content__figure--rigth{
    float: right;
    width: 40%;
    margin: 1% 4% 1% 0;
    padding-left: 1%;
}

.content__figure--center{
    float: center;
    width: 80%;
    margin: auto;
}

/* More */
.More__case{
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding:  3% 0;
    height: 50%;
    width: 35%;
    margin:0 1%;

    background: #210124;
    border-color: #F2EFEA;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;

    font-size: 20px;
    color: #F2EFEA;
}

.More__credit{
    display: flex;
    align-items: center;
    justify-content: space-around;

    transition: background-color 0.25s ease-in-out;
}

.More__case:hover{
    background-color: #C3423F;
    cursor: pointer;
}

.More__credit a, .More__case{
    color: #F2EFEA;
}

/* Footer */
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    
    background: #C3423F;
    
    width: 100%;
    margin-top: 3%;
    padding: 2% 0; 
}

.footer__list{
    display: column;
    justify-content: center;
    align-items: center;
    list-style: none;

    color: #F2EFEA;
    font-size: 16px;
    text-align: center;
}

.footer__list a, .footer__el{
    color: black;
}

.footer__el{
    color: #F2EFEA;
    padding: 3% 0;
}

/* ANIMATION */
.backToTop{
    position: fixed;
    right: 5%;
    bottom: 5%;
    display: none;

    background-color: #5E6472;

    border-radius: 50%;
    width: 3vw;
    height: 3vw;

    cursor: pointer;

    transition: background-color 0.25s ease-in-out;
}

.backToTop__img{
    width: 60%;
    height: 60%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.backToTop--show{
    display: flex;
    align-items: center;
    justify-content: center;
}

.backToTop:hover{
    background-color: #C3423F;
    transition: background-color 0.25s ease;
}