body{
    display: flex;
    flex-direction: column;
    background: blue;
    margin: 0;
}

/* A verifier */
a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

/* nav */
.nav{
    box-sizing: border-box;
    width: fit-content;
    /* position: fixed; */
    align-items: center;
    background: rgb(12, 214, 12);
    width: 100%;
    padding: 25px 0; 
    left: 0;
    height: 100px;
}

.nav__display{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 90%;
    margin: 0 auto;

}

.nav__logo{
    align-content: center;
    /* color: black; */
}

.nav__list{
    display: flex;
    list-style: none;
}

.nav__el{
    margin: 0 15px;
    background: red;
    padding: 5px 10px;
}

/* Main */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  0 25% 0 25%;
}

.header__image{
    max-width: 100%;
}

/* Footer */
/* footer{
    display: flex;
 
    bottom: 0;
    background: green;
    width: 100%;
    padding: 50px 0; 

    align-items: center;
    justify-content: center;
} */